NET "CLK_1HZ" LOC = P1;
NET "QQ_7" LOC = P35;
NET "QQ_6" LOC = P36;
NET "QQ_5" LOC = P37;
NET "QQ_4" LOC = P38;
NET "QQ_3" LOC = P39;
NET "QQ_2" LOC = P40;
NET "QQ_1" LOC = P42;
NET "QQ_0" LOC = P43;

NET "DD" LOC = P2;
NET "CC" LOC = P3;
NET "BB" LOC = P4;
NET "AA" LOC = P5;